Email_Automation_Workflow.json
[{"createdAt":"2025-10-07T09:33:37.553Z","updatedAt":"2025-10-08T13:57:11.000Z","id":"tOt5FkTmw1ZtnCx5","name":"Email Automation","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,0],"id":"73075373-5e8e-4fda-8174-a2b7af37fe3c","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"PJUM0ZsorAyUo2KJ","name":"Gmail account 2"}}},{"parameters":{"method":"POST","url":"http://127.0.0.1:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"=json","specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"model\": \"llama3\",\n  \"prompt\": \"Summarize this email in 3 lines:\\n{{$json['snippet']}}\",\n  \"email\": \"{{$json['from']?.email || $json['headers']?.From || ''}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"a2bd82aa-d11d-4fc8-b94a-be45b43e1087","name":"HTTP Request"},{"parameters":{"jsCode":"// Parse Ollama output\nconst raw = $json[\"data\"];\nconst lines = raw.trim().split(\"\\n\");\nlet fullText = \"\";\n\nfor (const line of lines) {\n  if (!line) continue;\n  try {\n    const obj = JSON.parse(line);\n    if (obj.response) fullText += obj.response;\n  } catch (e) { continue; }\n}\n\n// Extract sender email from Gmail Trigger node\nconst senderEmail = $node[\"Gmail Trigger\"].json[\"From\"] || \"\";\n\n// Extract subject from Gmail trigger\nconst subject = $node[\"Gmail Trigger\"].json[\"Subject\"] || \"\";\n\n// Extract snippet if needed (optional)\nconst snippet = $node[\"Gmail Trigger\"].json[\"snippet\"] || \"\";\n\n// Return a single item so both Google Sheets & Gmail can use it\nreturn [\n  {\n    json: {\n      Date: new Date().toISOString(),\n      Email: senderEmail,\n      Subject: subject,\n      Snippet: snippet,\n      Summary: fullText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"b274bc35-13e0-4cbd-94ef-c8856699e1db","name":"Code in JavaScript"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ORcsRDqUb8B2dU5e8PurJZXZpf3KnhNh_AU1DFO1myE","mode":"id"},"sheetName":{"__rl":true,"value":"Summary","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{$json[\"Date\"]}}","Email":"={{$json[\"Email\"]}}","Summary":"={{$json[\"Summary\"]}}","Snippet":"={{$json[\"Snippet\"]}}","Subject":"={{$json[\"Subject\"]}}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Snippet","displayName":"Snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[592,-112],"id":"ae2482cd-99df-434c-aa55-5cfca79b2904","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"mnodmFWUrJJkQOZ8","name":"Google Sheets account"}}},{"parameters":{"resource":"draft","subject":"=Re: {{$json[\"Subject\"]}}\n","emailType":"html","message":"=Hi,  Here’s a short summary of your email:  {{$json[\"Summary\"]}}  Best, n8n Assistant","options":{"sendTo":"={{$json[\"Email\"]}}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[608,96],"id":"28880329-9f6a-4884-ae80-3f40183aefdf","name":"Create a draft","webhookId":"6fa8da90-5560-44e2-a392-b5b1f6b4f699","credentials":{"gmailOAuth2":{"id":"PJUM0ZsorAyUo2KJ","name":"Gmail account 2"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create a draft","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Create a draft":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"460ebbc5-bfb1-407f-9351-1ffa60792165","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-07T09:33:37.575Z","updatedAt":"2025-10-07T09:33:37.575Z","role":"workflow:owner","workflowId":"tOt5FkTmw1ZtnCx5","projectId":"XTwNhCD5wqRu2hHW","project":{"createdAt":"2025-10-07T07:12:31.889Z","updatedAt":"2025-10-08T06:16:03.300Z","id":"XTwNhCD5wqRu2hHW","name":"Dona C <23pcs014@loyolacollege.edu>","type":"personal","icon":null,"description":null}}]}]